/* import de la police utilisée dans le Figma */
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
/* Import de Bootstrap */
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css');

* {
    scrollbar-color: #E0E1DD #415A77;
    scrollbar-width: 15;
    font-family: Outfit;
}

html {
    /* couleur du "fond" de la page */
    background-color: #0D1B2A;
}

.bg-dark {
    background-color: #0D1B2A;
}

.card-body {
    color: #E0E1DD;
}

.card-text {
    color: #E0E1DD;
}

.photoprofil {
    width: 50px;
    border-radius: 25px;
}

#button {
    background-color: #778DA9;
}