
* {
    font-family: Outfit;
    color: #0D1B2A; /* couleur du texte */
    /* suppression des epsaces causés par le truc bizarre */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    /* appliqué à la barre de navigation */
    background-color: #415A77;
    padding: 15px 0;
    height: 8em;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh; /* la barre de scroll doit prendre 100% de l'espace vertical, mais sans déborder sur le nav */
}

main {
    flex-grow: 1;
    overflow-y: auto; /* permet à l'utilisateur de scroller verticalement */
    padding: 20px;
    padding-bottom: 0px; /* page collée au bas de l'écran */
}

.whitebubble {
    background-color: #E0E1DD;
    border-radius: 25px;

    width: 99%;
    height: 12em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.bubbleslist {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}

.button {
    background-color: #778DA9;
    border-radius: 25px;

    /* attributs héritables */
    color: #E0E1DD; /* couleur du texte */
}

#navinfos {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 10px;
    justify-content:space-between;
    font-weight: bold;
}

#navinput {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 20px;
    justify-content:stretch;
    font-weight:lighter;

    /* TODO */
}

#navinput select {
    border-radius: 25px;
    width: 33%;
}

#navinput input {
    border-radius: 25px;
    width: 33%;
}


